.toastify {
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: "Kanit",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%,0%);
    transition: all .5s ease-in-out;
    z-index: 99;
}

.active {
    top: 4px;
}


.success {
    background-color: green;
}

.info {
    background-color: blue;
}

.error {
    background-color: red;
}