.header {
    padding-top: 40px;
}
.header h1 {
    text-align: center;
    font-family: "Kanit",sans-serif;
    filter: drop-shadow(0px 2px 0px black);
    font-size: 26px;
    font-weight: 400; 
    animation: headerH1 1s ease-in-out ;   
}

@keyframes headerH1 {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(0px);
    }
}

.header-form {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-form form {
    width: 595px;
    height: 38px;
    display: flex;
    align-items: center;
    border: 2px solid #6C63FF;
    border-radius: 5px;
    animation: headerForm 1s ease-in-out;
}

@keyframes headerForm {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

.header-form form input {
    width: 96%;
    height: 100%;
    padding: 11px 16px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    color: #6C63FF;
    background-color: transparent;
}

.header-form form button {
    height: 100%;
    width: 35px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.header-form select {
    height: 38px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #6C63FF;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    animation: headerSelect 1s ease-in-out;
}

@keyframes headerSelect {
    from {
        transform: translateX(40px);
    }
    to {
        transform: translateX(0px);
    }
}
.header-form .color-btn {
    padding: 6px;
    background-color: #6C63FF;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    animation: headerBtn 1s ease-in-out;
}

@keyframes headerBtn {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translateX(0px);
    }
}

.darkMode .header h1 {
    color: white;
}

.darkMode .header-form form  {
  border: 1px solid white;
}

@media screen and (max-width:400px) {
    .header-form {
    flex-wrap: wrap;
    }
    .header-form {
        flex: 2;
    }
}